{{ block "feed-form" . }}
<form id="feed-form" hx-post="/feeds" hx-swap="outerHTML">
  <div>
    <label for="url">
      <span>URL</span>
      <input id="url" type="text" name="url" placeholder="URL" />
    </label>
  </div>

  <div>
    <label for="name">
      <span>Name</span>
      <input id="name" type="text" name="name" placeholder="Name" />
    </label>
  </div>

  <div>
    <button type="submit">Add</button>
  </div>
</form>
{{ end }}

{{ block "feed" . }}
<li class="feed">
  <a href="{{ .Url }}" target="_blank">{{ .Name }}</a>
</li>
{{ end }}

{{ block "feeds-list" . }}
<ul id="feeds">
    {{ range . }}
      {{ template "feed" . }}
    {{ end }}
</ul>
{{ end }}

{{ block "oob-feed" . }}
<ul hx-swap-oob="afterbegin" id="feeds">
  {{ template "feed" . }}
</ul>
{{ end }}
