{{ block "posts-refresh" . }}
<div id="posts-refresh">
    <button hx-post="/posts/refresh" hx-swap="outerHTML" hx-target="#posts-refresh">Refresh Posts</button>

    {{ if .LastRefresh }}
      <span>Last refreshed: {{ .LastRefresh }}</span>
    {{ end }}
  </div>
{{ end }}

{{ block "post" . }}
<div class="post">
    <a href="{{ .Link }}" target="_blank">{{ .Title }}</a>
    <p>{{ .Description }}</p>
</div>
{{ end }}

{{ block "posts-list" . }}
<div id="posts">
    {{ range .Posts }}
      {{ template "post" . }}
    {{ end }}
</div>
{{ end }}

{{ block "oob-posts" . }}
<div hx-swap-oob="beforeSwap" id="posts">
  {{ range .Posts }}
    {{ template "post" . }}
  {{ end }}
</div>
{{ end }}
